<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ResumeRevealerEntities" connectionString="metadata=res://*/ResumeParser.csdl|res://*/ResumeParser.ssdl|res://*/ResumeParser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.188.73.21\sa;initial catalog=ResumeRevealer;user id=charter;password=twccorp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ResumeRevealerEntities1" connectionString="metadata=res://*/ResumeRevealerModel.csdl|res://*/ResumeRevealerModel.ssdl|res://*/ResumeRevealerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.188.73.21\sa;initial catalog=ResumeRevealer;user id=charter;password=twccorp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>